# <b><i><u>Assignment 1

## 1. Given below is a list of names.
 ['Aditi','Vishal','Neha','Rahul','Iqra','Ubaid','Usha','Advik','Ishaa
 n','Manish']
 
 Separate out the names starting with vowels in a new list named
 “names_with_vowels”.

In [7]:
names = ['Aditi', 'Vishal', 'Neha', 'Rahul', 'Iqra', 'Ubaid', 'Usha',
 'Advik', 'Ishaan', 'Manish']

In [10]:
vowels = ['A', 'E', 'I', 'O', 'U']

In [13]:
names_with_vowels = [name for name in names if name[0] in vowels]

In [16]:
names_with_vowels

['Aditi', 'Iqra', 'Ubaid', 'Usha', 'Advik', 'Ishaan']

## 2. Below is the list of numbers. Create a new list and pick up and add the
 alternate numbers starting from first element from left,from the
 following list

 [1, 3, 4, 4, 6, 7, 7, 9, 9, 10, 11, 12]

In [20]:
numbers = [1, 3, 4, 4, 6, 7, 7, 9, 9, 10, 11, 12]

In [22]:
alternate_numbers = numbers[::2]

In [23]:
alternate_numbers

[1, 4, 6, 7, 9, 11]

## 3. Given below is a dictionary. Some of the keys have the word “name” in
 them. Iterate over the dictionary and if the key has the word “name” in
 it, print the corresponding values.
 
 {'first name': ['Ojas', 'Biju', 'Anika', 'Badal', 'Kimaya']
 ,
 'last name': ['Barad', 'Kota', 'Anand', 'Dar', 'Bali'
 ],
 'marks': [76, 65, 68, 81, 6
 3],
 'mentor name': ['Arhaan', 'Jivika', 'Lagan', 'Farhan', 'Yakshi
 t'],
 'section': ['A', 'A', 'C', 'B', 'A']}

In [29]:
data = {
    'first name': ['Ojas', 'Biju', 'Anika', 'Badal', 'Kimaya'],
    'last name' : ['Barad', 'Kota', 'Anand', 'Dar', 'Bali'],
    'marks' : [76, 65, 68, 81, 63],
    'mentor name' : ['Arhaan', 'Jivika', 'Lagan', 'Farhan', 'Yakshit'],
    'section' : ['A', 'A', 'C', 'B', 'A']
}

In [30]:
for key, value in data.items():
    if 'name' in key:
        print(value)

['Ojas', 'Biju', 'Anika', 'Badal', 'Kimaya']
['Barad', 'Kota', 'Anand', 'Dar', 'Bali']
['Arhaan', 'Jivika', 'Lagan', 'Farhan', 'Yakshit']

## 4. Ask a number from the user and add all the natural numbers up to that number and print the final result.
 
 For example: if the user gives 5, then the sum of all natural number 
 up to would be 1+2+3+4+5 = 15

In [5]:
number = int(input("Enter a number: "))

Enter a number:  5

In [6]:
total_sum = sum(range(1, number + 1))

In [7]:
print(f"The sum of all natural numbers up to {number} is {total_sum}.")

The sum of all natural numbers up to 5 is 15.